  #about h2 {
    margin-bottom: 1rem;
    background-color: #05615a;
  }
  #about p {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #05615a;
  }
  #about {
    background-color: #05615a;
    border: none; 
    box-shadow: none; 
    padding: 5em;
  }
