#contact {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .form-right, .form-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  }
  .form-right {
    order: 1;
    margin-right: 20px;
  }
  
  .form-left {
    order: 2;
    margin-left: 20px;
  }
  
  h2 {
    text-align: center;
  }

  form {
    box-shadow: #000d0f;
  }
  
  #contact h2 {
    margin-bottom: 1rem;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #contact label {
    margin-bottom: 0.5rem;
  }
  
  #contact input,
  #contact textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #contact button {
    padding: 0.75rem;
    background: #EB774D;
    color: #f3f8f9;
    border: #9D552C;
    cursor: pointer;
    border-radius: 12px;
    width: 100px;
    text-align: center; 
    height: 100%;
    align-self: center;
  }
  #contact button:hover {
    background-color: #70a8a5;
  }
  