 .form-box {
    box-shadow: 0 0 10px 5px #313631a5;
    width: 100vh;
    padding-bottom: 20px;
    background-color: #739694;
    height:auto;
    max-width: 90%;
    margin: 2em;
    border-radius: 20px;
    position: relative;
  }
  .form-box:hover{
    transform: scale(1.01);
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5em;
  }
  .form-right, .form-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: none;
  background-color: #739694;
  }
  .form-right {
    order: 1;
    margin: 20px;
  }
  .form-left {
    order: 2;
    margin: 20px;
  }
  h2 {
    text-align: center;
  }
  form {
    box-shadow: #000d0f;
  }  
  #contact h2 {
    margin-bottom: 1rem;
  }
  #contact form {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  #contact label {
    margin-bottom: 0.5rem;
  }
  #contact input,
  #contact textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  #contact button {
    margin: 1em;
    padding: 0.75rem;
    background: #EB774D;
    color: #f3f8f9;
    border: #9D552C;
    cursor: pointer;
    border-radius: 12px;
    width: 100px;
    text-align: center; 
    height: 100%;
    align-self: center;
    box-shadow: 0 0 3px 3px #52514ea5;
    font-weight: 550;
  }
  #contact button:hover {
    background-color: #254a5d;
  }
  #message {
    height: 17vh;
  }
  input {
    background-color: #f3f8f9;
  }
  input:focus {
    border: 2px solid #9D552C;
  }
  section#contact {
  background-color: #05615a;
  }
 