.home-container {
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 2.5rem;
  animation: fadeIn 2s ease-in;
}

.home-description {
  font-size: 1.25rem;
  animation: fadeIn 3s ease-in;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.portfolioPhotoImage {
  max-width: 100%;
  background-color: #254a5d;
  height: 40vh;
  opacity: .4;
  box-shadow: 0 0 10px 5px #000;
}