#projects-box {
  background-color: #05615a;
  position: relative;
  z-index: -99;
}
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2em;
  background-color: #05615a;
  position: relative;
  z-index: 2;
  }
#projects h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #f3f8f9;
  }  
.project {
  text-align: center;
  color: #f3f8f9;
  padding: 2em;
  }
.project img {
  max-width: 100%;
  height: auto;
  width: 400px;
  }
.project h3 {
  
  margin: 1rem 0;
  color: #f3f8f9;
  }
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }
.project-image:hover {
  transform: scale(1.1);
  }
  @media (max-width: 768px) {
    #projects {
      grid-template-columns: 1fr; /* Single column for tablets and smaller screens */
    }
  
    .project {
      padding: 1em;
    }
  }
  
  @media (max-width: 480px) {
    #projects {
      padding: 1em;
    }
  
    .project {
      padding: 0.5em;
    }
  }
  