#skills-box {
  background-color: #05615a;
  position: relative;
  z-index: -99;
  padding: 2em;
  justify-content: center;
  align-items: center;

}
#skills {
    background-color: #70a8a5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    gap: 5em; 
    border-radius: 20px;
    padding: 1em;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 10px 5px #313631a5;
    z-index: -98;
    margin: 0 auto;
  }
  #skills:hover {
    transform: scale(1.01);
  }
  .intro, .tech-stack, .tool-box {
    flex: 1 1 300px;
  }
  .language {
    padding-left: 1.5em;
  }
  .tool-box-content{
    padding-left: .75em;
  }
  #skills ul {
    list-style: none;
    padding: 0;
  }
  h3, h4, .intro {
  color: #0a251e;
  padding-bottom: 1em;
  }
  h2 {
    color:#f3f8f9;
    padding-bottom: 1em;
  }
  .progress-container {
    width: 100%;
  }
  @media (max-width: 480px) {
    #skills-box {
      padding: 1em;
    }
  
    #skills {
      padding: 1em;
    }
  
    .intro, .tech-stack, .tool-box {
      width: 100%;
    }
  
    .language, .tool-box-content {
      padding-left: 0.5em;
    }
  }
