footer {
    background-color: #05615a;
    color: #fff;
    padding: 3em 0;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: 5%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    padding-top: 2em;
  }
  
  .social-media {
    display: flex;
    gap: 2em; 
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    height: 44;
  }
  
  .social-media a:hover {
    text-decoration: underline;
    color: #70a8a5;
  }
  
  footer p {
    margin: 0;
    padding-top: 1em;
    font-size: 0.9em;
  }
  