header {
    background: #2C645B;
    color: #EB774D;
    padding: .1rem 0;
    text-align: center;
    position: relative;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #F6F6F6;
    text-decoration: none;
  }