html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url('../images/header-image.jpg') center no-repeat;
    padding: 0;
    text-align: center;
    background-size: cover;
    margin-top: -.5em;

  }

  header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header h1{
    margin: 0;
    color:#254a5d;
  }

  header hgroup {
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .80em 4em;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    filter: blur(.5px);
  }

  header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f3f8f9 center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0;
    filter: blur(4px);
  }
  img {
    margin-right: 20px
  }

  .site {
    padding: 18em 0;
    text-align: center;
    background-color: #05615a;
    font-size: .8em;
    color: #444;
    position: relative;
  }

  .site a {
    color: #666;
    text-decoration: none;
  }
  
  .site a:hover {
    color: #222;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #0a251e;
    text-decoration: none;
  }
  .site nav{
    position: absolute;
    top: 0;
    left: 0;
    background:#f3f8f9;
    width: 100%
  }
  .site nav a{
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block
  }
  .site nav a:hover{
    background: #70a8a5;
    color:#fff
  }