header {
    background: #f3f8f9;
    color:  #0a251e;
    padding: .1rem 0;
    text-align: center;
    position: relative;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #0a251e;
    text-decoration: none;
  }