:root {
  /***************** Color Pallete **********************/
  --color-p300: #73AB95;
  --color-p500: #092922;
  --color-p700: #EB774D;

  --color-s300: #2C645B;
  --color-s500: #F6F6F6;
  --color-s700: #9D552C;

  --color-offset-100:#7CD4AC;
  --color-offset-300:#F85458;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #73AB95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
