:root {
  /***************** Color Pallete **********************/
  --color-p300: #05615a;
  --color-p500: #0a251e;
  --color-p700: #f3f8f9;
  --color-s300: #70a8a5;
  --color-s500: #254a5d;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05615a;

  color: #70a8a5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: #f3f8f9;;
}
h3, h2, p {
  color: #f3f8f9;
}
